<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dab Clicker{% endblock %}</title>
        <script src={{ asset('dabScript.js') }}></script> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer> {% block footer %} Projet créé par Bastien Masson et Corentin Lévy pour l'université Paris Diderot {% endblock %} </footer>
    </body>
</html>
